In [2]:
import pandas as pd

# Create two DataFrames with MultiIndex
df1 = pd.DataFrame({
    'A': ['A1', 'A1', 'A2', 'A2'],
    'B': ['B1', 'B2', 'B1', 'B2'],
    'C': [1, 2, 3, 4]
}).set_index(['A', 'B'])
df1

       C
A  B
A1 B1  1
   B2  2
A2 B1  3
   B2  4

In [3]:
df2 = pd.DataFrame({
    'A': ['A1', 'A2'],
    'D': [5, 6]
}).set_index('A')
df2

    D
A
A1  5
A2  6

In [4]:
# Join on the 'A' level of the MultiIndex
merged_df = df1.merge(df2, left_on='A', right_index=True)

merged_df

       C  D
A  B
A1 B1  1  5
   B2  2  5
A2 B1  3  6
   B2  4  6

In [5]:
# Give names to the levels of the MultiIndex
merged_df.index.names = ['Level1', 'Level2']

merged_df

               C  D
Level1 Level2
A1     B1      1  5
       B2      2  5
A2     B1      3  6
       B2      4  6