In [8]:
import pandas as pd

# Create a MultiIndex DataFrame
df = pd.DataFrame({
    'A': [1, 1, 2, 2],
    'B': ['a', 'b', 'a', 'b'],
    'C': [10, 20, 30, 40]
})
df.set_index(['A', 'B'], inplace=True)

# Rename the MultiIndex levels
df.index.names = ['Level1', 'Level2']

# Rename specific level names
#df.rename_axis(index={'Level1': 'New Level 1'}, inplace=True)

df

                C
Level1 Level2
1      a       10
       b       20
2      a       30
       b       40

In [13]:
# Create a sample DataFrame with a MultiIndex
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
index = pd.MultiIndex.from_tuples([('2023-01-01', 'X'), ('2023-01-02', 'Y'), ('2023-01-03', 'Z')], names=['Date', 'Category'])
df = pd.DataFrame(data, index=index)

df
# Convert the 'Date' level of the MultiIndex to datetime
#df.index = df.index.set_levels(pd.to_datetime(df.index.get_level_values('Date')), level='Date')

#df.index.dtypes
#df

                     A  B
Date       Category
2023-01-01 X         1  4
2023-01-02 Y         2  5
2023-01-03 Z         3  6

In [14]:


# Create a MultiIndex DataFrame
df = pd.DataFrame({'A': [1, 1, 2, 2], 'B': [3, 4, 3, 4], 'C': [5, 6, 7, 8]})
df.set_index(['A', 'B'], inplace=True)

df
# Convert the 'A' level index to string
df.index = df.index.set_levels(df.index.get_level_values('A').astype(str), level='A')

#df

     C
A B
1 3  5
  4  6
2 3  7
  4  8

In [16]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Access the index of the first row
index_value = df.index[0]

index_value

0