In [8]:
import pandas as pd

# Sample DataFrame with MultiIndex
df = pd.DataFrame({
    'A': ['foo', 'foo', 'bar', 'bar'],
    'B': ['one', 'two', 'one', 'two'],
    'C': [1, 2, 3, 4]
}).set_index(['A', 'B'])

df.columns

Index(['C'], dtype='object')

In [2]:
# Join index levels with a separator
df_flat = df.copy()
df_flat.index = df_flat.index.map('_'.join)

df_flat

         C
foo_one  1
foo_two  2
bar_one  3
bar_two  4

In [7]:
# Sample DataFrame with MultiIndex
df = pd.DataFrame({
    'A': ['foo', 'foo', 'bar', 'bar'],
    'B': ['one', 'two', 'one', 'two'],
    'C': [1, 2, 3, 4]
}).set_index(['A', 'B'])

df.columns

Index(['C'], dtype='object')

In [4]:

# Convert MultiIndex to flat index of tuples
df_flat = df.copy()
df_flat.index = df_flat.index.to_flat_index()

df_flat

            C
(foo, one)  1
(foo, two)  2
(bar, one)  3
(bar, two)  4

In [12]:
# Sample DataFrame with MultiIndex columns
df = pd.DataFrame({
    ('A', 'one'): [1, 2],
    ('A', 'two'): [3, 4],
    ('B', 'one'): [5, 6],
    ('B', 'two'): [7, 8]
})

df
df.columns

MultiIndex([('A', 'one'),
            ('A', 'two'),
            ('B', 'one'),
            ('B', 'two')],
           )

In [10]:
# Flatten the column MultiIndex
df.columns = ['_'.join(col) for col in df.columns.values]

df.columns

Index(['C'], dtype='object')

In [13]:
df = pd.DataFrame({
    'A': ['foo', 'foo', 'bar', 'bar'],
    'B': ['one', 'two', 'one', 'two'],
    'C': [1, 2, 3, 4]
}).set_index(['A', 'B'])

# Flatten the MultiIndex
df_flat = df.reset_index()

df_flat

     A    B  C
0  foo  one  1
1  foo  two  2
2  bar  one  3
3  bar  two  4